@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="col-md6" style="margin-left:30%;">
            <h3>Your Invoice has been created</h3>

            <img src="~/Content/Images/done.png" />
        </div>
        <a href="http://localhost:52487/Home" class="btn btn-primary">Back</a>
       
    </div>
</body>
</html>
